<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{%block title%}{%endblock%}</title>

        <!-- Tailwindcss for Styling Purposes -->
        <link
            rel="stylesheet"
            href="{{url_for('static',filename='dist/output.css')}}"
        />

        <!-- FontAwesome for icon and logo -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
            integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <!-- Devicon -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
        />

        <!-- Tema Gelap Premium untuk Highlight.js -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"
        />

        <!-- Quil JS-->
        <link
            href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css"
            rel="stylesheet"
        />
    </head>
    <body class="bg-zinc-950 min-h-screen flex flex-col items-center">
        <!-- Navigasi dipindah ke sini agar bisa Full Width -->
        {% include "includes/_navbar.html" %}

        <!-- Wrapper Content (Hanya untuk konten utama) -->
        <main
            class="w-full max-w-6xl mx-auto px-4 border-x border-zinc-800 bg-zinc-900 flex-grow"
        >
            <!-- Main Content -->
            {% block content %} {% endblock %}
        </main>
        <!-- Footer -->
        {% include "includes/_footer.html" %}
        <!-- Javascript -->
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
        <!-- 2. Pustaka Utama Highlight.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    </body>
</html>
