{% extends "base/base.html"%}

<!-- Import Timeline -->
{% from "macros/timeline.html" import timeline_item %}

<!-- Import Components -->
{% from "macros/divider.html" import divider %}

<!-- Title -->
{%block title%} Dian Wicaksono - Resume {%endblock%}

<!-- Content -->
{% block content %}

<section class="py-6 space-y-4">
    <h1 class="text-zinc-50 text-2xl font-medium md:text-3xl">
        My Resume / CV
    </h1>
    <div class="space-y-2">
        <p class="font-normal text-base text-zinc-200">
            Project driven Full-Stack Developer with rapid, high-impact growth
            over the past year. Experienced in designing scalable web architect
            architectures, writing clean code, and streamlining deployments via
            CI/CD pipelines. Passionate about solving complex logic from local
            environment to cloud production. Explore {% if active_cv %}
                <a 
                    href="{% if active_cv.external_link %}{{ active_cv.external_link }}{% elif active_cv.file_name %}{% if active_cv.file_name.startswith('http') %}{{ active_cv.file_name }}{% else %}{{ url_for('static', filename='/' + active_cv.file_name) }}{% endif %}{% else %}#{% endif %}" 
                    {% if active_cv.external_link or (active_cv.file_name and active_cv.file_name.startswith('http')) %} target="_blank" {% endif %} 
                    class="text-white underline underline-offset-4 decoration-teal-400 decoration-2 hover:text-teal-300 transition-colors"
                >my attached CV</a>
            {% endif %} for a deeper dive into my journey.
        </p>
    </div>
</section>

{{ divider("Experience", "z-[11]") }}

<section class="py-6 space-y-4">
    <p class="text-base text-zinc-100 font-normal">
        The following is a curated selection of the frameworks, technologies,
        and runtimes that power my development workflow. This list is a dynamic
        snapshot, because as a developer committed to lifelong learning, I am
        constantly integrating new technical proficiencies and soft skills to
        tackle complex challenges more effectively.
    </p>

    <div class="mt-8">
        {% for exp in experiences %} {{ timeline_item(exp, loop.first) }} {%
        endfor %}
    </div>
</section>
{% endblock %}
