<footer
    class="w-full border-t border-zinc-800 bg-zinc-950/90 backdrop-blur-md mt-auto"
>
    <!-- Kontainer internal tetap max-w-6xl agar sejajar sempurna dengan navbar dan konten -->
    <div
        class="max-w-6xl mx-auto bg-zinc-900 border-x border-zinc-800 py-4 px-4"
    >
        <div
            class="flex flex-col gap-2 sm:flex-row sm:justify-between sm:items-center"
        >
            <!-- Sisi Kiri: Copyright & Info -->
            <div class="flex flex-col space-y-1">
                <p class="text-zinc-100 text-sm font-medium">
                    © 2026 Dian Wicaksono. All rights reserved.
                </p>
            </div>

            <!-- Sisi Kanan: GitHub Portfolio Link -->
            <div class="flex items-center">
                <a
                    href="https://github.com/Liiaa-chan/Helios"
                    target="_blank"
                    class="text-zinc-500 text-sm font-medium hover:text-zinc-400"
                >
                    .github/helios
                </a>
            </div>
        </div>
    </div>
</footer>
