<!-- Extend base layout/template -->
{% extends "base/base.html"%}
<!-- Import Components -->
{% from "macros/divider.html" import divider %}
<!--Skill  -->
{% from "macros/skill.html" import render_skill %}
<!-- Equipments -->
{% from "macros/equipments.html" import render_equipments %}
<!-- Title -->
{%block title%} Dian Wicaksono {%endblock%}

<!-- Content -->
{% block content %}
<!-- Section 1 -->
<section class="py-6 space-y-4">
    <h1 class="text-zinc-50 text-2xl font-medium md:text-3xl">
        Hey, I'm <span class="text-teal-400">Dian Wicaksono</span>!
    </h1>
    <div class="space-y-2">
        <p class="font-normal text-base text-zinc-200">
            Hello there 👋 and welcome to my site, my name is Dian Wicaksono and
            you can call me Dian. Based in Malang, Indonesia as a Designer and
            Programmer who love learning deeper in Internet of Things.
        </p>
        <p class="font-normal text-base text-zinc-200">
            My friends call me maniac in tech world, because i love to learn new
            things about programming languages, architecture, OS (Operating
            System), and automation. Right now i am a Binusian, a student
            collage in Binus Online Learning who takes Computer Science Major. I
            have a new interest in writing a blog and article because i love to
            share my experience about my journey career or journey of my life.
            if you want to keep in touch with me, let's connect in my socials
            bellow. Hope you enjoy 😁.
        </p>
    </div>

    <!-- Socials -->
    <div class="space-y-2 flex flex-col">
        <span class="text-zinc-50 font-semibold text-base">Find me on</span>

        <!-- Kontainer Flex dengan gap agar antar tombol tidak menempel -->
        <div class="flex flex-wrap justify-start items-center gap-2">
            {% for social in socials %}
            <a
                href="{{ social.link }}"
                target="_blank"
                class="flex items-center justify-center space-x-2 py-2 px-3 border border-zinc-800 hover:bg-zinc-800 transition-colors duration-200"
            >
                <!-- Ikon dinamis berdasarkan data -->
                <i
                    class="fa-brands {{ social.icon }} text-xl text-zinc-200"
                ></i>

                <!-- Label dinamis -->
                <p class="text-zinc-200 text-base font-normal">
                    {{ social.name }}
                </p>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Divider -->
{{ divider("Skills", "z-[11]") }}

<!-- Section 2 -->
<section class="space-y-4 md:py-6">
    <p class="text-base text-zinc-100 font-normal">
        The following is a curated selection of the frameworks, technologies,
        and runtimes that power my development workflow. This list is a dynamic
        snapshot, because as a developer committed to lifelong learning, I am
        constantly integrating new technical proficiencies and soft skills to
        tackle complex challenges more effectively.
    </p>

    {{ render_skill(skills) }}
</section>

{{ divider("Equipments", "z-[11]") }}
<section class="py-6 space-y-4">
    <p class="text-base text-zinc-100 font-normal">
        A curated collection of the hardware and software tools that power my
        daily workstation. I believe that a high-performance environment is
        essential for maintaining a seamless development workflow and delivering
        robust, high-quality digital solutions.
    </p>
    {{ render_equipments(equipment_data) }}
</section>
<!--  -->
{% endblock %} >>>>>>> dian
